<!-- Template Reference <app-templaterefparent name="{{name}}"></app-templaterefparent>-->

<!-- Structural Directives <app-structdirparent></app-structdirparent>-->

<!-- Input Output Property <app-inputoutputparent></app-inputoutputparent>-->

<!-- Life Cycle Hooks <app-lckparent *ngIf="show" parentName="Senthil">
<app-lckchild type="content"></app-lckchild>
</app-lckparent>
<button (click)="toggle()">Show</button>-->

<!-- View Encapsulation <app-stylesparent></app-stylesparent>
<app-styleschild></app-styleschild>-->

<app-hostparent></app-hostparent>
<p>Basics of Angular Application!!!!</p>