<!-- Template Reference <app-templaterefparent name="{{name}}"></app-templaterefparent>-->

<!-- Structural Directives <app-structdirparent></app-structdirparent>-->

<!-- Input Output Property <app-inputoutputparent></app-inputoutputparent>-->

<!-- Life Cycle Hooks <app-lckparent *ngIf="show" parentName="Senthil">
<app-lckchild type="content"></app-lckchild>
</app-lckparent>
<button (click)="toggle()">Show</button>-->

<!-- View Encapsulation <app-stylesparent></app-stylesparent>
<app-styleschild></app-styleschild>-->

<!-- Host Binding <app-hostparent></app-hostparent>-->

<!-- Custom Structural Directive <button (click)="toggle()">Display</button>
<p *appCustomstructural="display">Basics of Angular Application!!!!</p>-->

<app-pipe></app-pipe>
<p>Basics of Angular Application!!!!</p>